@import 'tailwindcss';

@theme {
	--color-*: initial;

	--color-highlight: #5af68d;
	--color-info: #57c6fe;
	--color-alert: #ff3b30;
	--color-primary: #c5c5c5;
	--color-secondary: #686767;
	--color-background: #282935;
	--color-white: #ffffff;
	--font-family-dunggeunmo: 'VT323', 'DungGeunMo', monospace;
	--font-family-vt323: 'VT323', monospace;
}

@font-face {
	font-family: 'DungGeunMo';
	src: url('/DungGeunMo.woff2') format('woff2');
	unicode-range: U+AC00-D7AF, U+1100-11FF, U+3130-318F;
	size-adjust: 80%
}
